*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.hidden
{
    display: none;
}


h2
{
    text-align: center;
}
object{
    height: 100px;
    width: 100px;
}
